# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:     
  build:

    runs-on: ubuntu-latest
                   
    strategy:
      matrix:
        node-version: [10.x,12.x]

    steps:
    - uses: actions/checkout@v2
    - uses: harmon758/postgresql-action@v1
      with:
        postgresql version: '11' 
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    #- run: psql -U postgres
    #- run: pg_isready  
    - run: sudo apt update
    - run: sudo apt install postgresql postgresql-contrib
    - run: psql -U postgres -h localhost -p 5432
    - run: npx sequelize-cli db:migrate
    - run: npm test
      env:
        NODE_ENV: test
         
        CI: true
